<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cardgames -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ntnu.tdt4250.cardgame.presentation.CardgamesModelWizardID"
            name="%_UI_CardgamesModelWizard_label"
            class="ntnu.tdt4250.cardgame.presentation.CardgamesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CardgamesModelFile.gif">
         <description>%_UI_CardgamesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cardgames -->
      <editor
            id="ntnu.tdt4250.cardgame.presentation.CardgamesEditorID"
            name="%_UI_CardgamesEditor_label"
            icon="icons/full/obj16/CardgamesModelFile.gif"
            extensions="cardgames"
            class="ntnu.tdt4250.cardgame.presentation.CardgamesEditor"
            contributorClass="ntnu.tdt4250.cardgame.presentation.CardgamesActionBarContributor">
      </editor>
   </extension>

</plugin>
