<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cardgames -->
      <package
            uri="http://tdt4250.ntnu.no/cardgames"
            class="ntnu.tdt4250.cardgame.CardgamesPackage"
            genModel="model/cardgames.genmodel"/>
   </extension>

</plugin>
